*.css linguist-detectable=false
*.java linguist-detectable=false
*.python linguist-detectable=true 
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.xml linguist-detectable=false 
*.sql linguist-detectable=true 
*.jupyter notebook linguist-detectable=False
